<div class="container mt-5">
    <h2>{{ header }}</h2>

    <form (ngSubmit) = "onSubmit(f)" #f="ngForm"> 
        <div class="form-group">
            <label for="">Id</label>
            <input type="text" class="form-control" [ngModel] = "contact.id" name="id">
        </div>
        <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" [ngModel] = "contact.name" name="name">
        </div>
        <div class="form-group">
            <label for="">Age</label>
            <input type="number" class="form-control" [ngModel] = "contact.age" name="age">
        </div>
        <div class="form-group">
            <label for="">State</label>
            <input type="text" class="form-control" [ngModel] = "contact.state" name="state">
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control" [ngModel] = "contact.email" name="email">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>
